#pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.jumbotron {
  background-image: url(http://data.whicdn.com/images/107446953/large.png);
  background-size: cover;
  text-align: center;

}

.footer-center {
  margin-top: 50px;
  font-size: 20px;
  font-family: fantasy;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-weight: bolder;
}
